/* Blue Header Bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Main Company Name Title */
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

/* Color-shift for seo in Company Name Title */
.header h1 .seo {
    color: #b3b3b3;
}

/* Full Link List */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Displays Links in a Row */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Hovering over Links changes them to black */
.header div ul li a:hover {
    color:black
}

/* Removes Underline from Links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Changes Links in Header bar to Vertical List when Screen Size is too Small */
@media screen and (max-width: 1020px) {
    .header div ul li {
        display:block;
        margin-left: 25px;
    }
.header div {
    padding-top: 1px;
    }
}

/* Main Picture */
.hero {
    height: 100em;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg" );
    background-size: cover;
    background-position: center;
}

/* Sets Pictures on Left Side in Content Cards */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets Picture on Right Side in Content Cards */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main Content Panel Container */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Attributes for Every Card Element in Content */
.content section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets Image size in Content Cards */
.content img{
    max-height: 200px;
}

/* Sets Heading Size and Location in Comment Cards */
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Right Sidebar Primary Formatting */
.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 940px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets Margin Between each Section of Right Sidebar */
.benefits section{
    margin-bottom: 32px;
}

/* Set Attributes for every Heading in Right Sidebar */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

/* Sets Attributes for Every Image in Sidebar */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changes sidebar Font Size to fit when Screen gets too small */
@media screen and (max-width: 1235px) {
    .benefits{
        font-size:small;
    }
}

/* Primary Footer Attibutes */
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer Header size */
.footer h4 {
    font-size: 20px;
}